body {
    background-color: #cec7c7;
    margin:0px;
    padding: 0px;
}

ul{
    list-style: none;
}

a{
    text-decoration: none;
}

#home{
    height:90vh;
    width:100%;
    
}
nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    background-color: rgb(206, 194, 194);
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    padding: 0px 5%;
}

nav ul{
    display: flex;
}

nav ul li a{
    margin: 30px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #505050;
    font-size: 15px;
    font-weight:700;
}

.logo{
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    color:#505050;
    font-size: 22px;
}
.active{
    font-weight:bold ;
    color:#573d3d;
}

.text-area p:nth-child(1){
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    color:#6d6d6d;
    font-size: 22px;
    margin-top: 1%;
    margin-left: 40%;
}
.text-area p:nth-child(2){
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 40px;
    letter-spacing: 1px;
    color: #1a1a1a;
    margin-left: 15%;
}

.text-area p:nth-child(3){
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif ;
    color:#403e3e;
    font: size 25px; 
    line-height: 30px;
    margin-left: 20%;
}
.text-area p{
    line-height: 0px;
    margin:25px 0px 25px;
}
.text-area{
    position: absolute;
    left:13%;
    top:42%;
    transform: translate(-13%,-42%);
}


.text-area button{
    width: 130px;
    height:40px;
    border-radius: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: bold;
    font-size: 14px;
    outline: none;
    margin:0px 10px;

}
.hire{
    background-color: #dacece;
    border:2px solid #373636;
    color:#373636;
    margin-left: 10%;
}
.download-cv{
    background-color: #0b0b0b;
    color:#ffff;
    border:none;
}
button:active{
    transform:scale(1.1);
}
.nishu{
    height:500px;
    position: absolute;
    bottom: 300px;
    left:60%;
    transform:translateX(-70%);
}
.about{
    width:70%;
    height:600px;
    background-color: rgb(177, 169, 169);
    border-radius: 20px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin:-5% auto 10px auto;
    justify-content: space-evenly;
}
.about-text p:nth-child(1){
    justify-content: space-evenly;
    padding:5px;
    margin:5px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #070707;
    font-size: 25px;
    font-weight:bold;
    text-align: center;
}
.about-text p:nth-child(2){
    padding:5px;
    font-family:'Gill Sans MT';
    
}
.skills {
    width:70%;
    height:150px;
    background-color:  rgb(177, 169, 169);;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin:1% auto 1% auto;
    justify-content: space-evenly;
}
.skills p:nth-child(1){
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #070707;
    font-size: 25px;
    font-weight:bold;
}
.skillset{
    justify-content: space-around;
    padding: 70px;
}
#Contactme{
    width:70%;
    height:300px;
    background-color:  rgb(177, 169, 169);;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin:1% auto 1% auto;
    justify-content: space-evenly;
}
#Contactme p:nth-child(1){
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #070707;
    font-size: 25px;
    font-weight:bold;
}
.location{
    width:30%;
    height:80%;
}
.contactme{
    padding-top: 5%;
}

.btn{
    background-color: rgba(214, 165, 136, 0.808);
}
/* .worksection {
    width:70%;
    height:150px;
    background-color:  rgb(177, 169, 169);;
    border-radius: 10px;
    box-shadow: 2px 2px 12px rgba(0,0,0,0.2);
    display: flex;
    margin:1% auto 1% auto;
    justify-content: space-evenly;
}
.skills p:nth-child(1){
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    color: #070707;
    font-size: 25px;
    font-weight:bold;
} */